:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --blue-color: #2bc5cd;
    --orange-color: #ff693d;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.alumno,
.school,
.student,
.time {
    background-size: cover;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 20px;
    white-space: nowrap;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
}

.grid-container {
    width: max-content;
    display: grid;
    grid-template-areas:
    "header school student"
    "header main time"
    "alumno footer footer";
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 980px) {
    .grid-container {
        width: max-content;
        display: grid;
        grid-template-areas:
        "header school"
        "header student"
        "main time"
        "alumno footer"
        ;
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(4, 200px);
    }
}

@media screen and (max-width: 650px) {
    .grid-container {
        width: max-content;
        display: grid;
        grid-template-areas:
        "header"
        "header"
        "school"
        "student"
        "main"
        "time"
        "alumno"
        "footer"
        ;
        grid-template-columns: 300px;
        grid-template-rows: repeat(8, 200px);
    }
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--blue-color);
    color: var(--primary-color);
    padding: 10px;
}

h1 {
    align-self: start;
    text-align: center;
}

header > p {
    align-self: center;
}

.school {
    grid-area: school;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}
  
.student {
    grid-area: student;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

main {
    grid-area: main;
    color: var(--blue-color);
    outline: 3px solid var(--blue-color);
    font-weight: bold;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 10px;
}
  
.time {
    grid-area: time;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}
  
.alumno {
    grid-area: alumno;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

footer {
    grid-area: footer;
    background-color: var(--orange-color);
    color: var(--primary-color);
    padding: 10px;
   
    
}

button {
    border: none;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}